<hr>
<div style="
        display: flexbox;
        justify-content: center;">
        <h3>Event Binding - como usar ?</h3>

        <!--https://www.udemy.com/course/curso-de-angular/learn/lecture/25569808#overview-->

        <button (click)="alertaInfo( $event )" >EventoBinding</button>

        <!--Capturando a posição do mouse com MouseEvent - EVENT BINDING -->
        <div (mousemove)="mouseMoveT( $event )" 
                style="
                        background-color: rgb(168, 247, 78); 
                        width: 300px; 
                        height: 300px;
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        "
                >
                <h4>{{ position.x }} - {{position.y}}</h4>
        </div>


</div>