/algoritmos/node_modules

# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/AnaliseDeCodigoBackEnd/node_modules
/algoritmos/node_modules
/app-todo/node_modules
/EstudosAngular/node_modules
/PetScanFinder/node_modules

npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/11.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/index.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/index.pack.old
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/0.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/1.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/5.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/6.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/10.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/11.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/12.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/13.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/14.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/15.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/index.pack
algoritmos/.angular/cache/15.2.9/angular-webpack/6dbb88501dfa686db13bd3bc7cc088eb7d481fe4/index.pack.old
algoritmos/.angular/cache/15.2.9/babel-webpack/4a1403dfc9ba646cebe5e5d00b7b4fb7051cf49098d6d3eff4fc48d19c400dfd.json
algoritmos/.angular/cache/15.2.9/babel-webpack/6e28c041475f9329da66754c9f572f71d18797c808346e7e10e07de55bd15788.json
algoritmos/.angular/cache/15.2.9/babel-webpack/18d5e8d2d01e40c0bb75d394fb4e0e5133fe850dcd8c60431c28041a3db5b669.json
algoritmos/.angular/cache/15.2.9/babel-webpack/97a61d04bbe07260b7cdd89a642aa376ad58945cbe77a236500babb760effe8a.json
algoritmos/.angular/cache/15.2.9/babel-webpack/2088fbe94f81b80df0857563390f04199280593a2cb574661ab5dbd04c1efa77.json
algoritmos/.angular/cache/15.2.9/babel-webpack/4548ad4e478eb4d97b92b2c2075428b47a5f16662cb19eee0c43209c099e366e.json
algoritmos/.angular/cache/15.2.9/babel-webpack/3650195b60040218780c6a88de4bfa07cbd4cf3428b5ebdc03eda85f304cac12.json
algoritmos/.angular/cache/15.2.9/babel-webpack/c84634937934ad5d0c0f0e69aac8dc5cc0b6ea52bd5478342b8b820d73b300e9.json
algoritmos/.angular/cache/15.2.9/babel-webpack/cd1742b5a48fa0f07211e8a1b550af9c663458387e5eb7ccd6a8e32e81a1b96f.json
algoritmos/.angular/cache/15.2.9/babel-webpack/eb9533f691826e3a292f72895f846ecb6ee129afd0e9684f957994340bedd667.json
