<!-- <h3>Estudo-NgModel - manipulando ngModel</h3> -->

<!-- <div *ngIf=" nome != 'Desligar' ">
        <div>
                <p [ngClass]=" { 'active': valor, 'disable': !valor } ">NgClass</p>
        </div>        
        <div>
                <p [ngStyle]=" { 
                        'heigth': heigthPX, 
                        'background': background, 
                        'font-size': fontS } ">NgStyle
                </p>
        </div>
</div>

<div>
        <div>
                <input [(ngModel)]="nome">
                <button (click)="salvar()">Savar</button>
        </div>

     {{nome}} 

        <li *ngFor="let item of listNome">{{ item.nome }}</li>
</div>

<hr><hr><hr>

-->
