<!--Usando a função funcaoLogN_Multiplicacao(N) com interpolation-->
<div class="box-body box-title text-center">
  <h1>Algoritmos Estudos</h1>
  <p>{{ "functionTransf() > " }}{{ functionTransf() }}</p>
  <p>{{ "functionTransf2() > " }}{{ functionTransf2() }}</p>
  <p>{{ "funcaoLogN_Multiplicacao() > " }}{{ funcaoLogN_Multiplicacao(functionTransf()) }}</p>
  <p>{{ "funcaoLogN_Divisao() > " }}{{ funcaoLogN_Divisao(functionTransf2()) }}</p>
</div>

<hr />

<div class="box">
  <div class="box-header box-title text-center">
    <!--Centralizar o título no centro da página na hozontal usando bootstrap-->
    <h3 class="">Algoritmos Estudos</h3>
  </div>
  <div class="box-body box-title text-center">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>N</th>
          <th>log N</th>
          <th>⌊log N⌋</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let algoritmo of algoritmos">
          <td>{{ algoritmo.N }}</td>
          <td>{{ algoritmo.log_N }}</td>
          <td>{{ algoritmo._log_N_ }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
