@import '../../../../../dist/scss/variaveis.scss';

h1{
        width: 100%;
        padding: 15px 0;

        text-align: center;
        font-size: 18px;
        color: $secondary-text-color;//Vem do arquivo variavel.scss

        background-color: $tertiary-background-color;//Vem do arquivo variavel.scss
}