/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing material SCSS file. */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

.main{

    background: linear-gradient(to right, #0051ff, #000000, #0051ff);
    //Altura

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2080px;
    color: #fff9;
    // color: white;

}

